<table class="genre table table-bordered table-hover">
  <thead>
    <tr>
	  <th>ジャンル検索</th>
	</tr>
	</thead>
	<% pp Video.genre_ids %><!--ターミナル確認のための記述 -->
	<% Video.genre_ids.map do |genre,id| %>
      <tbody>
	    <tr>
		   <td>
		   <%= link_to genre, genre_search_path(genre_name: genre,category_name: @category_name) %>
		   </td>
		</tr>
	  </tbody>
    <% end %>
</table>