<h2 class="title text-center">〜その他一覧〜</h2>
<!-- 作品検索の部分テンプレート　-->
<div class="search-form">
  <%= render 'videos/search_form' %>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <!-- ジャンル検索の部分テンプレート　-->
      <%= render 'videos/genre_search' %>
    </div>
<!-- 映画一覧表示 -->
    <div class="col-xs-9">
      <% @videos.each do |video| %>
        <%= render 'videos/videos_index', video: video %>
      <% end %>
    </div>
  </div>
</div>
<div class="text-center"><%= paginate @videos %></div>