<h2 div class="text-center"><%= @category_name %>一覧</h2>
<div class="container">
  <div class="row">
    <div class="col-xs-3">
    <%= render 'videos/genre_search' %>
    </div>
	<div class="col-xs-9">
　  <%= render 'videos/videos_index', videos: @videos %>
    </div>
  </div>
</div>