<div class="row">
	<div class="col-xs6-offset-6">
<h2 div class="title-box">〜映画一覧〜</h2>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <!-- ジャンル検索の部分テンプレート　-->
      <%= render 'videos/genre_search' %>
    </div>
<!-- 映画一覧表示 -->
    <div class="col-xs-9">
      <%= render 'videos/videos_index', videos: @videos %>
    </div>
  </div>
</div>