<div class="about text-center">
  <h1 class="about-title">このサイトについて</h1>
  <h3 class="about-text">N館は動画配信サービス「Netflix」で配信されている作品の評価サイトです。</h3><br>
  <h3 class="about-text">Netflixで配信されている作品を見たい方には便利に使っていただけるかと思います。</h3><br>
  <h3 class="about-text">会員の方は当サイト内で作品の追加・編集・削除・評価等行えます。</h3><br>
  <h3 class="about-text">皆様で作品追加等行っていただき、より良いサイトにしていきましょう！</h3>
  <h2 class="about-title-sab">【運営からのお願い】</h2>
  <h3 class="about-text">
    (作品の追加、削除に関して)<br>
    上記に記載の通り、会員の方は作品追加・削除が行えます。<br>
    しかし、たくさんの方にご利用いただくためのサイトです。<br>
    皆様が気持ちよくご利用いただけるよう、節度ある行動をおねがいいたします。
  </h3>
</div>
