<div class="about text-center">
<h2>このサイトについて</h2>

<p>N館は動画配信サービス「Netflix」で配信されている作品に特化した評価サイトです。<br>
Netflixで配信されている作品を見たい方には便利に使っていただけるかと思います。<br>
会員の方は当サイト内で作品の追加・評価等行えます。<br>


皆様でより良いサイトにしていきましょう！</p>


<h4>【運営からのお願い】</h4>
<p>・作品の追加、削除に関して<br>
上記に記載の通り、会員の方は作品追加・削除が行えますが、<br>
たくさんの方がご利用いただくサイトです。<br>
皆様が気持ちよくご利用いただけるよう、節度ある行動をおねがいいたします。</p>

</div>
</div>