<h2 class="title text-center">〜ランキング一覧〜</h2>

<div class="container">
  <div class="row">
  <% @rankings.each do |video| %>

      <%= render 'videos/videos_index', video: video %>
    <% end %>
  </div>
</div>