<h2 class="title text-center">〜評価ランキング〜</h2>
<div class="row">
  <div class="col-md-10 col-md-offset-1 rankingbox">
  	<div class="favorite-ranking">
      <% @rankings.each do |video| %>
        <%= render 'videos/videos_index', video: video %>
      <% end %>
    </div>
  </div>
</div>

<h2 class="title text-center">〜お気に入りランキング〜</h2>
<div class="row">
  <div class="col-md-10 col-md-offset-1 rankingbox">
  	<div class="favorite-ranking">
      <% @favorite_rankings.each do |video| %>
        <%= render 'videos/videos_index', video: video %>
      <% end %>
    </div>
  </div>
</div>
